#main-content {
	margin:auto;
	width:80%;
	text-align:center;
	
}
#board {
	margin:auto;
}

.cell {
	border:1px solid #1f3559;
	padding:0px;
	height:30px;
	width: 30px;
	text-align:center;
	vertical-align:middle;
	font-size:18px;
	cursor:pointer;
}
.endGame {
	display:none;
	width:200px;
	top:200px;
	background-color: rgba(26, 178, 255,0.8);
	position:absolute;
	left:50%;
	margin-left:-100px;
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
	border-radius:5px;
	color:white;
	font-size:2em;
}